.user{
    background-color: #352C84;
}
.user .contain{
    overflow: hidden;
	background-color: #FFFFFF;
}
/* banner */
.banner{
    position: relative;
}
.banner .b_bg{
    width: 100%;
}
.banner .b_txt{
    position: absolute;
    left: 10%;
    top: 44%;
    width: 28.1%;
}

.cont{
    width: 83.3333%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 0 !important;
	margin-bottom: 60px;
}

.area{
    display: flex;
    margin-top: 60px;
}
.area-left{
    margin-right: 55px;
    flex-shrink: 0;
}


.area-right{
    color: #333;
    padding-bottom: 100px;
	position: relative;
    flex:auto;
    width: 100%;
}

.area-tit{
    font-size:36px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px 0;
}
.area-right .area-txt{
    line-height: 1.5em;
    font-size: 14px;
}
.area-right .area-txt .b{
    font-size: 24px;
	color: #cca84d;
	font-weight: bold;
	font-weight: 400;
    padding: 19px 0;
}

.area-right .area-txt p {
	font-size: 18px;
	font-weight: 400;
	color: #333333;
	/* line-height: 27px; */
}

.area-right .area-txt .paragraph_h {
	height: 30px;
}

.area-list{
    
}
.area-list .pic-area{
    position: relative;
    width: 100%;
    height: auto;
}
.area-list .pic-area .img1{
    position: absolute;
    bottom: -10%;
    left: 7%;
    z-index: 20;
    width: 29.2%;
}
.area-list .pic-area .img4{
    position: absolute;
    top: -10%;
    /* right: -110%; */
    left: 63%;
    z-index: -5;
    width: 31.3%;
}
.area-list .pic-area .img3{
    max-width: 300px;
    border-radius:50%;
    z-index: 10;
}

.area-list .details {
	margin-top: 64px;
	text-align: center;
}

.area-list .details p {
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 23px;
}

.area-list .details .p1 {
	font-size: 18px;
	margin-bottom: 10px;
}

.area-list .details .p2 {
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 20px;
}
.area-list .details .tit{
    display: none;
    padding-bottom: 45px;
    font-size: 36px;
}

@media only screen and (max-width:959px){
    .cont{
        width: 86.67%;
    }
    .area{
        display: block;
    }
    .area-tit{
        display: none;
    }
    .area-list {
        display: flex;
    }
    .area-list .pic-area{
        width: 46.15%;
        height: fit-content;
    }
    .area-list .pic-area .img3{
        width: 100%;
    }
    .area-list .details{
        padding-left: 9.69%;
        text-align: left;
        margin-top: 0;
        font-size: 24px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        line-height: 29px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .area-list .details p{
        font-size: 18px;
    }
    .area-list .details .p1,.area-list .details .p2{
        font-size: 24px;
    }
    .area-list .details .tit{
        display: block;
    }
    .area-right{
        padding: 50px 0 0 5px;
    }
    .m-txt{
        display: none;
    }
}

@media only screen and (max-width:479px){
    .cont {
        width: 94%;
    }
    .area-left{
        margin-right: 0;
    }
    .area-list .details .tit{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .area-list .details .p1, .area-list .details .p2{
        font-size: 20px;
    }
    .area-right .area-txt .b{
        font-size: 22px;
        padding: 15px 0;
    }
    .area-list .details p,.area-right .area-txt p{
        font-size: 16px;
    }
}
@media only screen and (max-width:350px){
    .area-list .details .tit{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .area-list .details .p1, .area-list .details .p2{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .area-right .area-txt .b{
        font-size: 18px;
        padding: 10px 0;
    }
    .area-list .details p,.area-right .area-txt p{
        font-size: 12px;
    }
}